[Desktop Entry]
Name=Minesweeper
Comment=Lightweight Minesweeper clone
Exec=minesweeper
Icon=minesweeper
Terminal=false
Type=Application
Categories=Game;LogicGame;
Keywords=mine;sweeper;puzzle;
